.Welcome_content h1{
    margin: 15px;
    font-size:20px;
    font-weight: bold;
    
    }
    .Welcome_content p{
        margin: 15px;
    }
    .button{
        padding:5px 10px;
        margin-top:10px;
        color:white;
        background-color:purple;
        font-size: 15px;
    }
    @media screen and (max-width:600px){
     .button{
        padding:5px 10px;
        margin-top:25px;
        font-size: 10px;
    
     }
     .Welcome_content h1{
        margin: 5px;
        font-size:16px;
        font-weight: bold;
        
        }
        .Welcome_content p{
            margin: 5px;
            font-size:11px;
        }
    }